extends layout

block content
  h1
    &#xa0;&#xa0;
    = title
    &#xa0;

  #tracks
    li
      .track-info
        .image-wrapper
          img(src='#{track.artistImage}')
        .details
          span.artist-name= track.artist
          span.track-title= track.trackTitle
      .user-info
        img(src='#{track.user}')
        span.posted= track.created
        audio(controls='controls', preload='none', autobuffer)
          source(src='#{track.trackSource}', type='audio/ogg')
